@use '/src/sass/base/variables.scss' as *;

.reg{
    padding: 115px 0 110px 0;
    background: #F3A917;
    color: #000;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    &__descr{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 610px;
        &-title{
            font-weight: 700;
            font-size: 32px;
            line-height: 109%;
        }
        &-text{
            font-weight: 500;
            font-size: 18px;
            line-height: 167%;
            letter-spacing: 0.01em;
            span{
                color: #fff;
            }
        }
    }
    &__info{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 780px;
        &_card{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 221px;
        }
        &-icon{
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            font-size: 80px;
            color: #fff;
        }
        &-title{
            margin-top: 35px;
        }
        &-title, &-date{
            font-weight: 400;
            font-size: 16px;
            line-height: 156%;
            letter-spacing: 0.01em;
            span{
                font-weight: 700;
            }
        }
        &_line{
            position: absolute;
            top: 40px;
            left: 212px;
            width: 76px;
            height: 4px;
            background: #fff;
            &-right{
                left: unset;
                right: 212px;
            }
        }
        &-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 65px auto 0 auto;
            border-radius: 5px;
            padding: 10px;
            width: 341px;
            height: 60px;
            background: $white;
            font-weight: 600;
            font-size: 16px;
            line-height: 156%;
            letter-spacing: 0.01em;
            text-align: center;
            color: #000;
            cursor: pointer;
            span{
                font-size: 24px;
                line-height: 24px;
                color: #F3A917;
            }
        }
    }

}